@model Classroom

@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Matricola</th>
        <th>Codice Fiscale</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var student in @Model.Students)
    {
        <tr>
            <td>@student.Name</td>
            <td>@student.LastName</td>
            <td>@student.StudentId</td>
            <td>@student.CF</td>
        </tr>
    }
    </tbody>
</table>

<a asp-controller="Student" asp-action="AddForm">Aggiungi Studente</a>


